.about_me {
  width: 100vw;
  /* height: 800px; */
  background-color: white;
  display: flex;
  justify-content: center;
}

.my_skills {
  background-color: white;
  width: 100vw;
}

.about_me_box0 {
  width: 65%;
  height: 100%;
  background-color: white;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.about_me_name {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
  margin-top: -50px;
}

.about_me_me {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-left: 12px;
  margin-top: -77px;
  font-weight: bold;
}

.about_me_circle {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #ffa501;
}

.about_me_main_img {
  width: 35%;
  height: 700px;
  background-image: url(/img/car.jpg);
  background-position-x: -50px;
  background-size: 120%;
  background-repeat: no-repeat;
}

.about_me_description {
  height: 700px;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_me_stick {
  height: 4px;
  width: 60px;
  background-color: #ffa501;
  margin-top: -40px;
}

.about_me_work {
  height: 60%;
  background-color: cadetblue;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_me_box {
  width: 45%;
  height: 185px;
  background-color: antiquewhite;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.about_me_icon {
  background-color: #ffa501;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.about_me_text {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-top: 6px;
  font-size: 12px;
  line-height: 18px;
  margin-top: -20px;
}

.about_me_ground {
  width: 80%;
  height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_me_arduino {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.about_me_info {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
}
