.my_contact {
  width: 100%;
  height: 825px;
  background-color: white;
}

.my_contact_wrapper {
  padding-left: 50px;
  padding-right: 35px;
  display: grid;
  grid-template-columns: 400px 585px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.my_contact_photo {
  background-image: url(../img/me\ 3\ .jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 50px;
}

.my_contact_description {
  width: 594px;
  height: 585px;
  background-color: white;
}

.my_contact_curcle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffa501;
}

.my_contact_head_text {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-left: 10px; /* отступ от круга */
  margin-top: 7px;
}

.my_contact_title_text {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
  top: -20px;
}

.my_contact_stick {
  height: 4px;
  width: 60px;
  background-color: #ffa501;
  margin: 5px auto 0 auto;
  margin-bottom: 40px;
  position: absolute;
}

.my_contact_text {
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.my_contact_social {
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 150;
}

.my_contact_social img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.my_contact_form {
  background-color: white;
  height: 56%;
  width: 100%;
}
.my_contact_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my_contact_input_wrapper {
  display: flex;
  justify-content: space-between;
}

.my_contact_input {
  position: relative;
}
.my_contact_input input {
  width: 280px;
  height: 40px;
  padding: 10px;
  font-size: 12px;
}

.my_contact_input label {
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 10px;
  font-size: 12px;
  bottom: 33px;
  background-color: white;
  padding: 0px 5px 0px 5px;
}

.my_contact_textarea {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  position: relative;
}

.my_contact_textarea textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 12px;
}

.my_contact_textarea label {
  position: absolute;
  left: 10px;
  bottom: 196px;
  background-color: white;
  padding: 0px 5px 0px 5px;
}

.my_contact_btn {
  width: 40%;
  height: 40px;
  border: none;
  background-color: #ffa501;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}
