* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1250px;
  background-color: white;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.text {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
}
