.my_works {
  width: 100%;
  height: 880px;
  background-color: white;
}

.my_works_curcle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffa501;
  margin: 0 auto;
}
.my_works_head_text {
  position: relative;
  left: 581px;
  top: -32px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.my_works_title_text {
  text-align: center;
  margin-top: -20px;
  font-weight: bold;
  line-height: 60px;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}

.my_tools_stick {
  height: 4px;
  width: 60px;
  background-color: #ffa501;
  margin: 15px auto 0 auto;
  margin-bottom: 60px;
}

.my_works_links {
  width: 100%;

  background-color: white;
  display: grid;
  grid-template: repeat(2, 280px) / repeat(4, 280px);

  gap: 5px;
  justify-content: center;
}

.my_works_links_item {
  background-color: brown;
  cursor: pointer;
  transition: all 0.5s;
}

.my_works_links_item:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
}

.long {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.long2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}
.my_works_links_text {
  position: relative;
  top: 500px;
  font-family: "Poppins", sans-serif;

  transform: translateX(29%);
  color: #ffa501;
  font-size: 28px;
  line-height: 38px;
}

.my_works_links_text2 {
  position: relative;
  top: 220px;
  font-family: "Poppins", sans-serif;

  transform: translateX(29%);
  color: #ffa501;
  font-size: 28px;
  line-height: 38px;
}
