@media (max-width: 1600px) {
  header {
    padding-left: 230px;
  }
}

@media (max-width: 1200px) {
  header {
    padding-left: 200px;
    background-position-x: -120px;
  }
  .name {
    width: 400px;
  }
  .my_job {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  header {
    padding-left: 100px;
    background-position-x: -140px;
  }

  .asidepanel {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    padding-left: 80px;
    background-position-x: -180px;
  }

  .my_job {
    font-size: 38px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  header {
    padding-left: 20px;
    background-position-x: -360px;
  }

  .name {
    width: 220px;
  }

  .my_job {
    font-size: 30px;
    margin-top: 10px;
    line-height: 35px;
  }

  .menu {
    width: 240px;
  }

  .menu_btn_close {
    left: 180px;
  }

  .menu_list_interface {
    font-size: 18px;
  }
  .menu_block {
    padding-left: 10px;
  }
}
